{{define "title"}}Home{{end}}

{{ define "body"}}
    <section class="hero is-fullheight-with-navbar">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-vcentered">
                    <div class="column">
                        <p class="title">
                            Welcome to GOMA!
                        </p>
                        <p class="subtitle">
                            A quick BULMA bootstrap for go
                        </p>
                    </div>
                    <div class="column">
                        <img src="/img/Goma-Logo.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

{{ end }}
