<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block "title" .}}Default Title{{end}}</title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"> -->
    <link rel="stylesheet" href="/css/mainstyle.css">
</head>

{{ template "navbar.html" }}

<body class="Site">
    <main class="Site-content">
        {{ block "body" .}}{{ end }}
    </main>
    {{ template "footer.html" .Name}}
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/navbar.js"></script>
</body>

</html>